.mod-testimonials {
  margin: 20px 0;
  .btn-prev,
  .btn-next {
    @apply absolute block p-0 cursor-pointer border-none outline-none text-15 -top-55 w-15
      md:top-105p;
      font-size: 40px;
  }
  
  .btn-prev {
    @apply right-20 xl:left-10;
  }
  
  .btn-next {
    @apply right-0 xl:left-30;
  }
  
  .btn-dots {
    @apply absolute -top-30 w-full p-0 pr-35 text-center list-none flex justify-center gap-18
      md:top-115p md:justify-end md:gap-27.5 right-7
      xl:justify-start xl:pr-0   xl:-left-1;
    
    li {
      @apply cursor-pointer mb-0 p-0 left-0 top-0 relative;
      transform: translate(-50%, -50%);
      
      &::before {
        @apply hidden;
      }
      
      button {
        border-radius: 50%;
        text-indent: -9999px;
        @apply relative w-10 h-10 block cursor-pointer;
        
        &::after {
          content: "";
          @apply absolute top-0 left-0 block rounded-full bg-gray-100 w-27 md:w-35 h-1;
          transition: 0.3s;
          transform: translateX(50%);
        }
      }
      
      &:hover,
      &.slick-active {
        button {
          &::after {
            @apply bg-blue-200 h-1.5 -top-0.5;
          }
        }
      }
    }
  }
  
  .slider,
  .slider-lazy {
    &:not(.slick-initialized) {
      .slider-item:not(:first-child) {
        @apply hidden;
      }
    }
  }

  .container {
    .testi-content {
      .testi-headline {
        // border: solid 1px;
        div {
          h3 {
            @apply text-20;
          }
        }
      }
      .testi-items {
        padding-left: 10px;
        // margin-right: -100%;
        .box {
          margin-right: 20px;
          @apply xl:w-340 2xl:w-450;
          .testi-sub-items {
            box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
            padding: 30px 20px;
            @apply w-full h-full;
            .heading-items {
              .title {
                h5 {
                  @apply text-10 2xl:text-13;
                }
              }
            }
            .desc-items {
              p {
                @apply text-8 2xl:text-10;
              }
            }
            .signature {
              font-size: 18px;
            }
         }
       }
      }
    }
  }
}