@charset 'UTF-8';
// stylelint-disable

// / Icons /

// / Arrows /

.slick-prev,
.slick-next {
  position: absolute;
  top: -100px;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: none;
  transform: translate(0, -50%);
  z-index: 11;
  display: flex;
  justify-content: center;
  color: #043673;
  @apply lg:w-65p lg:top-45p lg:-left-83p lg:-ml-1p5 lg:text-40;
  &:hover{
    @apply text-blue-600;
  }

  @media (min-width:992px) {
    top: 300px;
  }
}

.slick-prev {
  right: 70px;
  width: 30px;
  @media (min-width:992px) {
    right: unset;
    left: -50%;
  }
} 


.slick-next {
  right: 22px;
  @apply lg:-left-79p;
  width: 30px;

  @media (min-width:992px) {
    right: unset;
    left: -45%;
  }
}

.slick-dots {
  position: absolute;
  top: -50px;
  width: 100%;
  padding: 0 32px;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: center;
  height: 3px;
  gap: 4px;
  @apply md:justify-end;

  @media (min-width: 992px) {
    top: unset;
    left: -100%;
    bottom: 30px;
  }

  li {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
    @apply md:w-10p lg:w-12p;
    &::before {
      display: none;
    }

    button {
      cursor: pointer;
      // border-radius: 50%;
      // text-indent: -9999px;
      @apply relative w-100p h-0p5 block;

      &::after {
        content: "";
        @apply absolute w-full h-0p5 top-0 p-0 block bg-blue-600;
               
        transition: 0.3s;
        transform: translateY(-50%);
      }
    }

    &.slick-active {
      button {
        &::after {
          @apply bg-blue-400;
          height: 3px;
        }
      }
    }
  }
}

.slider,
.slider-lazy {
  &:not(.slick-initialized) {
    .slider-item:not(:first-child) {
      display: none;
    }
  }
}
.item-slider{
  @apply px-5 lg:px-3p5;
}