---
author: Frontend Team
ourTeam: My Team
---
{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-home has-animation"{% endblock %}

{% block content %}
<main id="main-content" class="main-content">
    <!-- <div class="h-20"></div> -->
    {% include 'modules/mod-home-banner.html' %}
    {% include 'modules/mod-home-button.html' %}
    {% include 'modules/mod-home-promo.html' %}
    {% include 'modules/mod-home-2col.html' %}
    {% include 'modules/mod-home-2col_2.html' %}

    {% include 'modules/mod-home-testimonials.html' %}
    {% include 'modules/mod-home-quote.html' %}
    {% include 'modules/mod-home-3col.html' %}
    {% include 'modules/mod-home-social.html' %}
    {% include 'modules/mod-home-footer.html' %}

    <!-- <div class="h-50"></div> -->

</main>
{% endblock %}
