---
author: Vu Minh Thinh
title: Page profile
---
{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-home has-animation"{% endblock %}

{% block content %}
<main id="main-content " class="main-content pt-20 container">
    <div class="rounded-full overflow-hidden max-w-full max-h-full">
        <img class="" src="../assets/images/prof-img.jpg" alt="">
    </div>
    <div class="list-none pt-10">
        <h1>About Me</h1>
        <li><a href="/prof-about.html">About</a></li>
        <li><a href="/prof-infomation.html">Infomation</a></li>
        <li><a href="/prof-education.html">Education</a></li>
        <li><a href="/prof-skill.html">Skill</a></li>
        <li><a href="/prof-interests.html">Interests</a></li>
    </div>
</main>

{% endblock %}