@layer components {
  .col{
    @apply px-8;
  }
  .row{
    @apply flex flex-wrap -mx-8;
  }
  .bg{
    @apply bg-no-repeat bg-top bg-cover;
  }
  .transform-middle{
    top: 50%;
    transform: translateY(-50%)
  }
  .transform-center{
    left: 50%;
    transform: translateX(-50%)
  }
  .transform-center-middle{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.text-inherit-child {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: inherit;
  }
  a:not(.btn) {
    @apply underline hover:no-underline;
  }
}

.last-mb-none {
  *:last-child{
    @apply mb-0;
  }
}

#__bs_notify__{
  display: none !important;
}
.para{
  @apply text-gray-400 xl:text-8;
}
@layer utilities {
  @keyframes h1animation {
    0%   { color: red; left: 0px; top: 0px; }
    25%  { color: orange; left: 100px; top: 0px; }
    50%  { color: yellow; left: 200px; top: 0px; }
    75%  { color: green; left: 300px; top: 0px; }
    100% { color: blue; left: 400px; top: 0px; }
  }
}

@layer components {
  .custom-animation {
    animation-name: h1animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
