@layer components {
  .col{
    @apply px-8;
  }
  .row{
    @apply flex flex-wrap -mx-8;
  }
  .bg{
    @apply bg-no-repeat bg-top bg-cover;
  }
  .transform-middle{
    top: 50%;
    transform: translateY(-50%)
  }
  .transform-center{
    left: 50%;
    transform: translateX(-50%)
  }
  .transform-center-middle{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.text-inherit-child {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: inherit;
  }
  a:not(.btn) {
    @apply underline hover:no-underline;
  }
}

.last-mb-none {
  *:last-child{
    @apply mb-0;
  }
}

#__bs_notify__{
  display: none !important;
}
.para{
  @apply text-gray-400 xl:text-8;
}
//animation
@layer utilities {
  @keyframes h1animation {
    0%   { color: red; left: 0px; }
    25%  { color: orange; left: 100px;}
    50%  { color: yellow; left: 0px;}
    75%  { color: green; left: 100px;}
    100% { color: blue; left: 0px;}
  }
}

@layer components {
  .custom-animation {
    animation-name: h1animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}
img {
  @apply w-full h-full;
}
p,
{
  @apply text-gray-500;
}
// 2col-2
.box-item{
  @apply w-full md:w-1/2
}
.box-above{
  @apply flex flex-col md:flex-row md:gap-8 xl:px-36 2xl:px-0
}
.item-content{
  @apply p-10 md:px-0 2xl:pr-45
}
//home-button
.h5-cus{
  @apply text-h5 text-gray-500 font-medium md:text-h5-md xl:text-h5-xl ;
}
.h2-cus{
  @apply text-h2 font-jarkata font-bold md:text-h2-md xl:text-16 2xl:text-5xl ;
}
//promo
.p-blue{
  @apply text-white;
}
.p-cus{
  @apply text-18px px-48 font-medium -mt-6 md:pl-0 md:pr-0;
}
//2col2
.p-2col{
  @apply font-semibold;
}
.p-link{
  @apply text-blue-400;
}
//3col
.p-3col{
  @apply font-semibold;
}
.p-footer{
  @apply text-white;
}
.iconfooter{
  @apply hover:text-blue-400;
}
//footer
.h4-footer{
  @apply xl:text-12 xl:font-medium xl:leading-10;
}